/* PORTFOLIO */
.portfolio {
  background-color: #000;
  padding: 60px 0 30px;
}

.portfolio .subtitle {
  color: #FEC63E;
}
.portfolio .subtitle::after {
  background-color: #FEC63E;
}

.portfolio .portfolio-gallery {
  margin: 40px auto;
}
.portfolio .portfolio-gallery img {
  display: block;
}
.portfolio .portfolio-gallery li:last-child{
  margin-top: 20px;
}
.portfolio .call-to-action p {
  color: #FFF;
}