.btn {
  border: 4px solid #FEC63E;
  color: #FEC63E;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  letter-spacing: 0.05em;
  margin: 0 auto;
  outline: none;
  padding: 8px;
  text-transform: uppercase;
  width: 140px;
}
.btn:hover {
  color: #FFF;
  border: 4px solid #FFF;
}
.btn.btn-black:hover {
  border: 4px solid #000;
  color: #000;
}