.footer .footer-info {
  background-color: #000;
  color: #FFF;
  padding: 20px 0 28px;
}

.footer .footer-title {
  color: #FEC63E;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.footer .footer-title::after {
  content: '';
  background-color: #FEC63E;
  display: block;
  height: 3px;
  margin: 4px 0 0;
  width: 60px;
}
.footer-info p, .footer-info ul{
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  line-height: 20px;
}
.footer .footer-info p {
  margin-top: 20px;
  max-width: 400px;
}
.footer-info ul {
  margin-top: 15px;

}
.footer-info a {
  border: 3px solid #FEC63E;
  display: inline-block;
  margin-right: 12px;
  margin-top: 20px;
  padding: 10px;
}
.footer-info a:hover {
  border: 3px solid #FFF;
  filter: sepia(100%);
}

.footer .footer-copyright {
  background-color: #FEC63E;
  padding: 22px 0;
}
.footer-copyright p {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) and (max-width: 979px) {
  .footer-info a {
    padding: 6px;
    margin-right: 5px;
  }
  .footer-info a img{
    width: 26px;
    height: 26px;
  }
}
@media (max-width: 767px) {
  .footer .footer-copyright {
    padding: 22px 0 0;
  }
}