.header {
  background-color: #FEC63E;
  height: 80px;
  padding: 9px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header-nav {
  margin-top: 22px;
  text-align: right;
}
.header-nav ul li {
  display: inline-block;
  margin-left: 20px;
}
.header-nav ul li a {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}

.header-nav ul li a.active {
  color: #FFF;
}