@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 787px) {
  /* MAIN */
  /* INTRO */
  .intro {
    margin-top: 0;
    padding-top: 40px;
    height: 410px;
  }
  .intro h1 {
    font-size: 36px;
  }

  /* PRODUCTS */
  .products .call-to-action {
    padding-top: 10px;
  }
}