.quality-graph {
  text-align: center;
}
.quality-graph::after {
  background-image: url('../assets/svg-lines/lines.svg');
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 80px;
  margin: 0 auto;
  position: relative;
  top: -183px;
  max-width: 630px;
  background-position: center;
}
.quality-graph img {
  margin: 0 auto 45px;
}
.quality-graph .quality-list li {
  padding: 0 30px;
}
.quality-graph .quality-list li h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.quality-graph .quality-list li h3::after {
  background-color: #000;
  content: '';
  display: block;
  height: 3px;
  margin: 8px auto 6px;
  width: 60px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .quality-graph::after {
    background-image: url('../assets/svg-lines/lines-small.svg');
    top: -203px;
    left: 5px;
  }
  .quality-graph .quality-list li {
    padding: 0 30px;
  }
}

@media (max-width: 787px) {
  .quality-graph::after {
    display: none;
  }
}