body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
}
/* MAIN */

/* INTRO */
.intro {
  background-image: url('../assets/backgrounds/bg-intro.jpg');
  background-size: cover;
  color: #FFF;
  height: 380px;
  margin-top: 80px;
  padding: 80px 0 50px ;
  text-align: center;
  width: 100%;
}
.intro h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}
.intro .intro-quote {
  font-size: 14px;
  margin: 0 auto;
  max-width: 270px;
}

.intro .intro-quote .quote-text {
  font-style: italic;
}
.intro .intro-quote .quote-text::before, .intro .intro-quote .quote-text::after {
  background-color: #FFF;
  content: '';
  display: block;
  height: 3px;
  width: 60px;
}
.intro .intro-quote .quote-text::before {
  margin: 10px auto 8px;
}
.intro .intro-quote .quote-text::after {
  margin: 8px auto 10px;
}
.intro blockquote .quote-author {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 5px 0
}
.intro .btn {
  margin-top: 45px;
}

/* PRODUCTS */
.products {
  height: 624px;
  padding: 60px 0;
  text-align: center;
}
.products .products-list {
  margin-top: 38px;
}
.products .products-list .product-item {
  height: 320px;
}
.products .products-list .product-item .product-item-icon {
  background-color: #000;
  height: 200px;
  padding-top: 30px;
  width: 300px;
}
.products .products-list .product-item .product-item-icon img {
  margin: 0 auto;
}
.products .products-list .product-item .product-item-info {
  background-color: #FEC63E;
  height: 120px;
  padding: 15px 20px;
  width: 100%;
}
.products .products-list .product-item .product-item-title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 20px;
  text-transform: uppercase;
}
.products .products-list .product-item .product-item-title::after {
  background-color: #000;
  content: '';
  display: block;
  height: 3px;
  margin: 8px auto 12px;
  width: 60px;
}

.products .call-to-action {
  clear: both;
  padding-top: 40px;
}

/* PORTFOLIO */
.portfolio {
  background-color: #000;
  height: 858px;
  padding: 60px 0 34px;
}

.portfolio .subtitle {
  color: #FEC63E;
}
.portfolio .subtitle::after {
  background-color: #FEC63E;
}

.portfolio .portfolio-gallery {
  margin: 40px auto;
}
.portfolio .portfolio-gallery img {
  display: block;
}
.portfolio .portfolio-gallery li:last-child{
  margin-top: 20px;
}
.portfolio .call-to-action p {
  color: #FFF;
}

/* QUALITY */
.quality {
  height: 574px;
  padding: 60px 0 35px;
}
.quality .quality-graph{
  margin-top: 70px;
}
.quality .call-to-action {
  margin-top: 40px;
}
